.offers {
   .top-block__btn,
   .top-block__hello-massage {
      display: none;
   }
}

.offers-container {
   background-image: url("../images/dist/offers-section__bg.png");
   background-size: cover;
   background-repeat: no-repeat;
   display: flex;
   flex-direction: column;
   align-items: center;

   .offers__inner {
      width: 55%;
   }
}

.offers__top {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 40px 0;
   padding-bottom: 7px;
   border-bottom: 3px solid $main-color-white;

   .offerings,
   .policy {
      font-size: calc(16px + 12 * ((100vw - 375px) / (1920 - 320)));
      text-decoration: none;
      width: 47%;
      height: 60px;
      border-radius: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
   }

   .offerings {
      color: $main-color-white;
      background-color: $main-color-orange;
      z-index: 2;
   }

   .policy {
      color: $main-color_grey;
      background-color: $main-color_white;
      z-index: 1;
      margin-right: -55px;
   }
}

.offers__search-form {
   display: flex;
   justify-content: space-between;
   margin-bottom: 35px;

   .search-wrapper {
      width: 100%;
      position: relative;

      .offer__search {
         width: 100%;
         height: 60px;
         border-radius: 35px;
         padding: 0 20px;
         font-size: calc(18px + 6 * ((100vw - 375px) / (1920 - 320)));
      }

      input[type="search"]::-webkit-search-decoration,
      input[type="search"]::-webkit-search-cancel-button,
      input[type="search"]::-webkit-search-results-button,
      input[type="search"]::-webkit-search-results-decoration {
        -webkit-appearance: none;
      }

      .offer__search-icon {
         margin-left: 15px;
         position: absolute;
         left: 20px;
         top: 50%;
         transform: translate(-50%, -50%);
      }
   }

   .offers__btn-new-offer {
      position: relative;
      width: 30%;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 30px;
      border-radius: 35px;
      background-color: $main-color-green;
      font-size: calc(16px + 6 * ((100vw - 375px) / (1920 - 320)));
      color: $main-color_white;

      .triangle-to-left{
         margin-right: 15px;
         border-right: 18px solid $main-color-white;
         @include triangle-btn;
      }

      .btn-plus {
         display: none;
      }
   }
}

.offers__info {
   margin-bottom: 50px;

   .top-row {
      color: $main-color-white;

      .top-row__item {
         display: inline-block;
         text-align: center;
      }
   }
   
   .top-row,
   .row {
      font-size: 14px;
      display: flex;
      align-items: center;
      height: 35px;
      padding: 5px 0;
   }

   .row__item-title,
   .row__item-title--green {
      display: none;
   }

   .row__item--width-xxs {
      width: 5%;
   }

   .row__item--width-xs {
      width: 9%;
   }

   .row__item--width-s {
      width: 10%;
   }

   .row__item--width-m {
      width: 13%;
   }

   .row__item--width-l {
      width: 15%;
   }

   .row-block {
      position: relative;

      .contacts {
         position: absolute;
         right: -130px;
         opacity: 0;
         padding-left: 60px;
         display: flex;

         .contacts__edit,
         .contacts__mail {
            display: flex;
            flex-direction: column;
   
            .contacts__text {
               font-size: 14px;
               color: $main-color-white;
               margin-top: 5px;
            }
         }
   
         .contacts__mail {
            margin-right: 10px;
         }
      }

      &:hover {
         .row {
            background-color: $main-color-orange;
            color: $main-color-white;
            overflow: visible;
            @include transition;
         }

         .contacts {
            opacity: 1;
            @include transition;
         }
      }
   }

   .row-block__line {
      display: none;
   }

   .car-icon {
      display: none;
   }

   .row {
      position: relative;
      margin-bottom: 10px;
      border-radius: 35px;
      color: black;
      background-color: $main-color-white;

      .row-section {
         text-align: center;
         border-left: 1px solid #E5E5E5;
      }

      .row-section-check {
         border: none;
      }

      .row__check-icon--hidden {
         z-index: -1;
      }
   }
}

@media (max-width: 1440px) {
   .offers-container .offers__inner {
      width: 70%;
   }

   .offers__top .offerings, .offers__top {
      .policy,
      .offerings {
         height: 45px;
      }
   } 

   .offers__search-form {
      .search-wrapper {
         .offer__search {
            height: 45px;
         }
      }

      .offers__btn-new-offer {
         height: 45px;
      }
   }

   .offers__info .row-block .contacts {
      right: -125px;
   }
}

@media (max-width: 1200px) {
   .offers-container .offers__inner {
      width: 70%;
   }

   .offers__info .row-block .contacts {
      right: -110px;
   }

   .offers__search-form .offers__btn-new-offer .triangle-to-left {
      border-right: 14px solid $main-color-white;
      border-top: 7px solid transparent;
      border-bottom: 7px solid transparent;
      margin-left: 5px;
   }
}

@media (max-width: 1024px) {
   .offers__search-form .offers__btn-new-offer {
      width: 40%;
   }

   .offers__info {
      .top-row {
         display: none;
      }

      .row__item-title,
      .row__item-title--green {
         display: block;
         font-size: 18px;
         color: #797979;
         text-align: right;
      }

      .row__item-title--green {
         color: $main-color-green;
         font-weight: 700;
         font-size: calc(18px + 2 * ((100vw - 320px) / (1025 - 320)));
         padding-top: 35px;
         display: flex;
         align-self: flex-start;
      }

      .row {
         box-sizing: border-box;
         flex-direction: column;
         flex-wrap: wrap;
         justify-content: flex-end;
         height: 280px;
         padding: 40px 15px 15px 15px;

         .row-section {
            border-left: none;
            width: 33%;
            text-align: right;
            margin-top: 20px;
            display: flex;
            flex-direction: column;

            .row__item {
               color: $main-color-dark-blue;
               font-size: 20px;
               font-weight: 700;
            }
         }

         //Table sections in mobile version are placed chaotically. So I had to create classes and use order
      
         .mobile-order-1 {
            order: 1;
         }

         .mobile-order-2 {
            order: 2;
         }

         .mobile-order-3 {
            order: 3;
         }

         .mobile-order-4 {
            order: 4;
         }

         .mobile-order-5 {
            order: 5;
         }

         .mobile-order-6 {
            order: 6;
         }

         .mobile-order-7 {
            order: 7;
         }

         .mobile-order-8 {
            order: 8;
         }

         .row__item--width-xxs,
         .check-icon {
            display: none;
         }
      }

      .row-block {
         margin-bottom: 30px;
         
         &:hover {
            .row {
               background-color: $main-color-white;
            }
         }

         .car-icon {
            display: block;
            position: absolute;
            z-index: 1;
            top: 25px;
            right: 20px;
         }

         .contacts {
            opacity: 1;
            z-index: 1;
            padding: 0;
            display: flex;
            justify-content: flex-end;
            width: 100%;
            top: 15px;
            right: 0;
            padding-left: 20px;

            .contacts__mail {
               margin-right: 15px;
            }

            .contacts__edit,
            .contacts__mail {

               path {
                  fill: $main-color-white;
               }

               circle {
                  fill: $main-color-green;
               }

               .contacts__text {
                  display: none;
               }
            }
         }
      }

      .row-block__line {
         display: flex;
         position: absolute;
         z-index: 1;
         height: 2px;
         width: -webkit-fill-available;
         background-color: $main-color-dark-blue;
         top: 70px;
         margin: 0 15px;
      }
   }
}

@media (max-width: 768px) {
   .offers {
      .top-block__account {
         font-size: 12px;

         .top-block__hello-message--mobile {
            display: none;
         }
      }
   }

   .offers__top {
      margin: 25px 0;
      border: none;

      .icon {
         display: none;
      }

      .offerings,
      .policy {
         height: 40px;
      }
   }

   .offers-container .offers__inner {
      width: 85%;
   }

   .offers__search-form {
      border-bottom: 2px solid $main-color-white;
      padding-bottom: 15px;
      margin-bottom: 20px;

      .offers__btn-new-offer {
         border-radius: 100%;
         width: auto;
         height: auto;
         margin-right: 15px;

         .btn-content,
         .triangle-to-left {
            display: none;
         }
   
         .btn-plus {
            display: block;
         }
      }

      .search-wrapper {
         .offer__search {
            height: 40px;
         }
      }
   }
}
 
@media (max-width: 576px) {
   .offers-container .offers__inner {
      width: 85%;
   }

   .offers__top {
      .policy {
         display: flex;
         justify-content: flex-end;
         padding-left: 20px;
         width: 100%;
      }

      .offerings {
         width: 75%;
      }
   }

   .offers__info {      
      .row {
         height: 365px;

         .row-section {
            width: 45%;
         }
      }
   }
}

@media (max-width: 375px) {
   .offers-container .offers__inner {
      width: 90%;

      .row {
         height: 385px;

         .row-section {
            width: 50%;
            margin-top: 15px;
            line-height: 1.2;
         }
      }
   }
}

// mobile & tablet landscape orientation
@media screen and (min-width:320px) and (max-width:991px) and (orientation:landscape) {
   .top-block .top-block__inner {
      height: 20vh;
      height: calc(var(--vh, 1vh) * 20);

   }
}